# Conex√£o com o Banco

In [ ]:
def banco (tb):
    database = "Estudos"
    table = tb
    user = "lmanoel"
    password  = "01625!@"

    df = spark.read\.format("jdbc") \
    .option("url", f"jdbc:sqlserver://CVRT-N445:1433;databaseName={database};") \
    .option("dbtable", table) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .load()
    return df

# Lista com os nomes das Tabelas

In [65]:
df = banco('sys.table')
listaTBS = df.rdd.map(lambda x: x.name).collect()
listaTBS

['Games', 'JogosPs2', 'JogosWii', 'JogosXbox', 'JogosSNES', 'JogosPS4']

# Lista de Dataframes

In [70]:
listaDF = []
for i in listaTBS:
    listaDF.append(banco(i))
    print('Tabela:',i)

Tabela: Games
Tabela: JogosPs2
Tabela: JogosWii
Tabela: JogosXbox
Tabela: JogosSNES
Tabela: JogosPS4

# Salvando os DataFrames

In [74]:
count = 0
for i in listaDF:
    print('Salvando Tabela: {}'.format(listaTBS[count]))
    i.repartition(1).write.format("parquet").option("header", "true").save("adl://DataLake/Tabelas/{}".format(NomesTB[count]))
    file = dbutils.fs.ls('adl://DataLake/Tabelas/{}/'.format(listaTBS[count]))[-1].path
    dbutils.fs.mv(file,"adl://DataLake/Tabelas/")
    file = file=dbutils.fs.ls('adl://DataLake/Tabelas/')[-1].path 
    dbutils.fs.mv(file, 'adl://DataLake/Tabelas/{}.parquet'.format(listaTBS[count])) 
    dbutils.fs.rm('adl://DataLake/Tabelas/{}/'.format(listaTBS[count]), recurse=True) 
    count = count +1

Salvando Tabela: Games
Salvando Tabela: JogosPs2
Salvando Tabela: JogosWii
Salvando Tabela: JogosXbox
Salvando Tabela: JogosSNES
Salvando Tabela: JogosPS4